@import (reference) '../../../../../styles/variables.less';

.workflow-edge-label {
  background: @text-color;
  color: @white;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
